/* Light mode */
html,
body {
    background: #F9F9FB;
}

#navbar,
#sidebar,
#body-content,
#content-side-layout,
#table-of-contents,
#table-of-contents-content,
#table-of-contents-layout {
    background: transparent;
}

/* Dark mode */
html.dark,
html.dark body {
    background: #12121C;
}

html.dark #navbar,
html.dark #sidebar,
html.dark #body-content,
html.dark #content-side-layout,
html.dark #table-of-contents,
html.dark #table-of-contents-content,
html.dark #table-of-contents-layout {
    background: transparent;
}

/* Navigation logo */
.nav-logo {
    height: 38px;
    width: auto;
}

.nav-logo img {
    height: 100%;
    width: auto;
}
