{
    "openapi": "3.0.3",
    "info": {
        "title": "api",
        "description": "",
        "license": {
            "name": ""
        },
        "version": "0.1.19"
    },
    "servers": [
        {
            "url": "https://dammv2-api.meteora.ag",
            "description": "DAMM v2 Mainnet API"
        },
        {
            "url": "https://dammv2-api.devnet.meteora.ag",
            "description": "DAMM v2 Devnet API"
        }
    ],
    "paths": {
        "/pools": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "list_pools",
                "operationId": "list_pools",
                "parameters": [
                    {
                        "name": "pool_address",
                        "in": "query",
                        "description": "Search by (contain) pool address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_a_symbol",
                        "in": "query",
                        "description": "Search by (contain) token A symbol.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_b_symbol",
                        "in": "query",
                        "description": "Search by (contain) token B symbol.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pool_name",
                        "in": "query",
                        "description": "Search by (contain) pool name.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "creator",
                        "in": "query",
                        "description": "Search by (contain) creator address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_a_mint",
                        "in": "query",
                        "description": "Search by (contain) token A mint address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_b_mint",
                        "in": "query",
                        "description": "Search by (contain) token B mint address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "launchpad",
                        "in": "query",
                        "description": "Search by (contain) launchpads.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "farm_state",
                        "in": "query",
                        "description": "Search by farm state.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/FarmState"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will use LIKE condition instead of ILIKE. Default is false.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "any",
                        "in": "query",
                        "description": "If true, returns pools match any query conditions.\nIn other words, this is OR condition. Default is false",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "tokens_verified",
                        "in": "query",
                        "description": "If true, returns only pools with verified tokens.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        },
                        "example": "false"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order by field. Default is tvl.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "tvl"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order direction. Default is ascending.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderDirection"
                        },
                        "example": "asc"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit of the number of pools to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 50
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "pool_address",
                                                    "creator",
                                                    "token_a_mint",
                                                    "token_b_mint",
                                                    "token_a_vault",
                                                    "token_b_vault",
                                                    "alpha_vault",
                                                    "sqrt_min_price",
                                                    "sqrt_max_price",
                                                    "min_price",
                                                    "max_price",
                                                    "liquidity",
                                                    "permanent_lock_liquidity",
                                                    "sqrt_price",
                                                    "token_a_amount",
                                                    "token_b_amount",
                                                    "token_a_amount_usd",
                                                    "token_b_amount_usd",
                                                    "pool_price",
                                                    "virtual_price",
                                                    "pool_type",
                                                    "created_at_slot",
                                                    "created_at_slot_timestamp",
                                                    "updated_at",
                                                    "tvl",
                                                    "apr",
                                                    "fee_tvl_ratio",
                                                    "fee24h",
                                                    "volume24h",
                                                    "base_fee",
                                                    "dynamic_fee",
                                                    "collect_fee_mode",
                                                    "tokens_verified",
                                                    "has_farm",
                                                    "farm_active"
                                                ],
                                                "properties": {
                                                    "alpha_vault": {
                                                        "type": "string"
                                                    },
                                                    "apr": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "base_fee": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "collect_fee_mode": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "created_at_slot": {
                                                        "type": "integer",
                                                        "format": "int64"
                                                    },
                                                    "created_at_slot_timestamp": {
                                                        "type": "integer",
                                                        "format": "int64"
                                                    },
                                                    "creator": {
                                                        "type": "string"
                                                    },
                                                    "dynamic_fee": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "farm_active": {
                                                        "type": "boolean"
                                                    },
                                                    "fee24h": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "fee_scheduler_mode": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "nullable": true
                                                    },
                                                    "fee_tvl_ratio": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "has_farm": {
                                                        "type": "boolean"
                                                    },
                                                    "launchpad": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "liquidity": {
                                                        "type": "string"
                                                    },
                                                    "max_price": {
                                                        "type": "string"
                                                    },
                                                    "min_price": {
                                                        "type": "string"
                                                    },
                                                    "permanent_lock_liquidity": {
                                                        "type": "string"
                                                    },
                                                    "pool_address": {
                                                        "type": "string"
                                                    },
                                                    "pool_name": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "pool_price": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "pool_type": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "sqrt_max_price": {
                                                        "type": "string"
                                                    },
                                                    "sqrt_min_price": {
                                                        "type": "string"
                                                    },
                                                    "sqrt_price": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "token_a_amount": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "token_a_amount_usd": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "token_a_mint": {
                                                        "type": "string"
                                                    },
                                                    "token_a_symbol": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "token_a_vault": {
                                                        "type": "string"
                                                    },
                                                    "token_b_amount": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "token_b_amount_usd": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "token_b_mint": {
                                                        "type": "string"
                                                    },
                                                    "token_b_symbol": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "token_b_vault": {
                                                        "type": "string"
                                                    },
                                                    "tokens_verified": {
                                                        "type": "boolean"
                                                    },
                                                    "tvl": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "updated_at": {
                                                        "type": "integer",
                                                        "format": "int64"
                                                    },
                                                    "virtual_price": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "volume24h": {
                                                        "type": "number",
                                                        "format": "double"
                                                    }
                                                }
                                            }
                                        },
                                        "pages": {
                                            "type": "integer"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/global-metrics": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "get_global_metrics",
                "operationId": "get_global_metrics",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "required": [
                                                "tvl24h",
                                                "volume24h",
                                                "lp_fee24h",
                                                "protocol_fee24h",
                                                "partner_fee24h",
                                                "referral_fee24h",
                                                "lifetime_volume",
                                                "lifetime_lp_fee",
                                                "lifetime_protocol_fee",
                                                "lifetime_partner_fee",
                                                "lifetime_referral_fee",
                                                "updated_at",
                                                "volume7d",
                                                "lp_fee7d",
                                                "protocol_fee7d",
                                                "partner_fee7d",
                                                "referral_fee7d",
                                                "volume30d",
                                                "lp_fee30d",
                                                "protocol_fee30d",
                                                "partner_fee30d",
                                                "referral_fee30d"
                                            ],
                                            "properties": {
                                                "lifetime_lp_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lifetime_partner_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lifetime_protocol_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lifetime_referral_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lifetime_volume": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "protocol_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "protocol_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "protocol_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "tvl24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "updated_at": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "volume24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "volume30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "volume7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/grouped": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "grouped_pools",
                "operationId": "grouped_pools",
                "parameters": [
                    {
                        "name": "pool_address",
                        "in": "query",
                        "description": "Search by (contain) pool address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_a_symbol",
                        "in": "query",
                        "description": "Search by (contain) token A symbol.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_b_symbol",
                        "in": "query",
                        "description": "Search by (contain) token B symbol.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pool_name",
                        "in": "query",
                        "description": "Search by (contain) pool name.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_a_mint",
                        "in": "query",
                        "description": "Search by (contain) token A mint address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "token_b_mint",
                        "in": "query",
                        "description": "Search by (contain) token B mint address.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "launchpad",
                        "in": "query",
                        "description": "Search by (contain) launchpads.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "nullable": true
                        }
                    },
                    {
                        "name": "farm_state",
                        "in": "query",
                        "description": "Search by farm state.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/FarmState"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will use LIKE condition instead of ILIKE. Default is false.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "any",
                        "in": "query",
                        "description": "If true, returns pools match any query conditions.\nIn other words, this is OR condition. Default is false",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order by field. Default is total_tvl.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "total_tvl"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order direction. Default is ascending.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderDirection"
                        },
                        "example": "asc"
                    },
                    {
                        "name": "pool_order_by",
                        "in": "query",
                        "description": "Pool order by field. Default is tvl.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "tvl"
                    },
                    {
                        "name": "pool_order",
                        "in": "query",
                        "description": "Pool order direction. Default is ascending.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderDirection"
                        },
                        "example": "asc"
                    },
                    {
                        "name": "tokens_verified",
                        "in": "query",
                        "description": "If true, returns only pools with verified tokens.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        },
                        "example": "false"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit of the number of pools to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 50
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "group_name",
                                                    "updated_at",
                                                    "total_tvl",
                                                    "max_fee_tvl_ratio",
                                                    "max_apr",
                                                    "total_volume24h",
                                                    "total_fee24h",
                                                    "pools"
                                                ],
                                                "properties": {
                                                    "group_name": {
                                                        "type": "string"
                                                    },
                                                    "max_apr": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "max_fee_tvl_ratio": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "pools": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/GroupedPoolEntryResponse"
                                                        }
                                                    },
                                                    "total_fee24h": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "total_tvl": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "total_volume24h": {
                                                        "type": "number",
                                                        "format": "double"
                                                    },
                                                    "updated_at": {
                                                        "type": "integer",
                                                        "format": "int64"
                                                    }
                                                }
                                            }
                                        },
                                        "pages": {
                                            "type": "integer"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/vesting": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "get_pool_vesting_list",
                "operationId": "get_pool_vesting_list",
                "parameters": [
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order by field. Default is cliff_point.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "cliff_point"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order direction. Default is ascending.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderDirection"
                        },
                        "example": "asc"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit of the number of pools to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 50
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 0
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will search for the exact address. Default is true.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    },
                    {
                        "name": "vesting_end_timestamp",
                        "in": "query",
                        "description": "Vesting end timestamp. If not provided, will use 6 months from time of request.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 1716537600
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "pool_address",
                                                    "total_locked_liquidity",
                                                    "total_released_liquidity",
                                                    "total_locked_liquidity_string",
                                                    "total_released_liquidity_string",
                                                    "position_vesting"
                                                ],
                                                "properties": {
                                                    "pool_address": {
                                                        "type": "string"
                                                    },
                                                    "position_vesting": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/PositionVestingResponse"
                                                        }
                                                    },
                                                    "total_locked_liquidity": {
                                                        "type": "integer",
                                                        "minimum": 0
                                                    },
                                                    "total_locked_liquidity_string": {
                                                        "type": "string"
                                                    },
                                                    "total_released_liquidity": {
                                                        "type": "integer",
                                                        "minimum": 0
                                                    },
                                                    "total_released_liquidity_string": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "pages": {
                                            "type": "integer"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/vesting/{address}": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "get_pool_vesting_liquidity",
                "operationId": "get_pool_vesting_liquidity",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vesting_end_timestamp",
                        "in": "query",
                        "description": "Vesting end timestamp. If not provided, will use 6 months from time of request.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        },
                        "example": 1716537600
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will search for the exact address. Default is true.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "required": [
                                                "pool_address",
                                                "total_locked_liquidity",
                                                "total_released_liquidity",
                                                "total_locked_liquidity_string",
                                                "total_released_liquidity_string",
                                                "position_vesting"
                                            ],
                                            "properties": {
                                                "pool_address": {
                                                    "type": "string"
                                                },
                                                "position_vesting": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PositionVestingResponse"
                                                    }
                                                },
                                                "total_locked_liquidity": {
                                                    "type": "integer",
                                                    "minimum": 0
                                                },
                                                "total_locked_liquidity_string": {
                                                    "type": "string"
                                                },
                                                "total_released_liquidity": {
                                                    "type": "integer",
                                                    "minimum": 0
                                                },
                                                "total_released_liquidity_string": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/{address}": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "get_pool",
                "operationId": "get_pool",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will search for the exact address. Default is true.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "required": [
                                                "pool_address",
                                                "creator",
                                                "token_a_mint",
                                                "token_b_mint",
                                                "token_a_vault",
                                                "token_b_vault",
                                                "alpha_vault",
                                                "sqrt_min_price",
                                                "sqrt_max_price",
                                                "min_price",
                                                "max_price",
                                                "liquidity",
                                                "permanent_lock_liquidity",
                                                "sqrt_price",
                                                "token_a_amount",
                                                "token_b_amount",
                                                "token_a_amount_usd",
                                                "token_b_amount_usd",
                                                "pool_price",
                                                "virtual_price",
                                                "pool_type",
                                                "created_at_slot",
                                                "created_at_slot_timestamp",
                                                "updated_at",
                                                "tvl",
                                                "apr",
                                                "fee_tvl_ratio",
                                                "fee24h",
                                                "volume24h",
                                                "base_fee",
                                                "dynamic_fee",
                                                "collect_fee_mode",
                                                "tokens_verified",
                                                "has_farm",
                                                "farm_active"
                                            ],
                                            "properties": {
                                                "alpha_vault": {
                                                    "type": "string"
                                                },
                                                "apr": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "base_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "collect_fee_mode": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                },
                                                "created_at_slot": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "created_at_slot_timestamp": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "creator": {
                                                    "type": "string"
                                                },
                                                "dynamic_fee": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "farm_active": {
                                                    "type": "boolean"
                                                },
                                                "fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "fee_scheduler_mode": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "nullable": true
                                                },
                                                "fee_tvl_ratio": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "has_farm": {
                                                    "type": "boolean"
                                                },
                                                "launchpad": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "liquidity": {
                                                    "type": "string"
                                                },
                                                "max_price": {
                                                    "type": "string"
                                                },
                                                "min_price": {
                                                    "type": "string"
                                                },
                                                "permanent_lock_liquidity": {
                                                    "type": "string"
                                                },
                                                "pool_address": {
                                                    "type": "string"
                                                },
                                                "pool_name": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "pool_price": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "pool_type": {
                                                    "type": "integer",
                                                    "format": "int32"
                                                },
                                                "sqrt_max_price": {
                                                    "type": "string"
                                                },
                                                "sqrt_min_price": {
                                                    "type": "string"
                                                },
                                                "sqrt_price": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "token_a_amount": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "token_a_amount_usd": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "token_a_mint": {
                                                    "type": "string"
                                                },
                                                "token_a_symbol": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "token_a_vault": {
                                                    "type": "string"
                                                },
                                                "token_b_amount": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "token_b_amount_usd": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "token_b_mint": {
                                                    "type": "string"
                                                },
                                                "token_b_symbol": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "token_b_vault": {
                                                    "type": "string"
                                                },
                                                "tokens_verified": {
                                                    "type": "boolean"
                                                },
                                                "tvl": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "updated_at": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "virtual_price": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "volume24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pools/{address}/metrics": {
            "get": {
                "tags": [
                    "Pools"
                ],
                "summary": "get_pool_metrics",
                "operationId": "get_pool_metrics",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "case_sensitive",
                        "in": "query",
                        "description": "Case sensitive search. If true, this will search for the exact address. Default is true.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "required": [
                                                "pool_address",
                                                "volume24h",
                                                "lp_fee24h",
                                                "protocol_fee24h",
                                                "partner_fee24h",
                                                "referral_fee24h",
                                                "volume7d",
                                                "lp_fee7d",
                                                "protocol_fee7d",
                                                "partner_fee7d",
                                                "referral_fee7d",
                                                "tvl",
                                                "volume30d",
                                                "lp_fee30d",
                                                "protocol_fee30d",
                                                "partner_fee30d",
                                                "referral_fee30d",
                                                "apr",
                                                "fee_tvl_ratio",
                                                "updated_at"
                                            ],
                                            "properties": {
                                                "apr": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "fee_tvl_ratio": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lp_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "partner_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "pool_address": {
                                                    "type": "string"
                                                },
                                                "protocol_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "protocol_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "protocol_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "referral_fee7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "tvl": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "updated_at": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "volume24h": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "volume30d": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "volume7d": {
                                                    "type": "number",
                                                    "format": "double"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "default": null,
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "object",
                                            "required": [
                                                "message",
                                                "type"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "oneOf": [
                    {
                        "type": "object",
                        "required": [
                            "InternalServerError"
                        ],
                        "properties": {
                            "InternalServerError": {
                                "$ref": "#/components/schemas/eyre.Report"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "required": [
                            "BadRequest"
                        ],
                        "properties": {
                            "BadRequest": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "required": [
                            "NotFound"
                        ],
                        "properties": {
                            "NotFound": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "required": [
                            "Custom"
                        ],
                        "properties": {
                            "Custom": {
                                "type": "object",
                                "required": [
                                    "status",
                                    "message"
                                ],
                                "properties": {
[...]
